<div id="broadcast" style="display:none;" data="{{broadcast}}"></div>
<div id="main" class="main-container player">
    <div id="banner" class="banner">
        <span id="bannerText" class="text">Waiting for Broadcast to Begin</span>
    </div>
    <div id="videoContainer" class="video-container player"></div>
</div>
