<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" type= "text/css" href="stylesheets/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

        <title>Wirlix</title>
    </head>
    <body>
        <div class = "video-background">
            <div class = "video-foreground">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cvFdFAr_7po?playlist=cvFdFAr_7po&controls=0&version=3&start=242&end=840&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div id = "nav">
            <div class = "navleft">
                <div class = "logo">
                    WIRLIX
            </div>
            </div>
            <div class = "navright">
                <div class = "elements">
                    <ul>
                        <li class="lit"><a href="/lit">Lit</a></li>
                        <li class="about"><a href="/about">About</a></li>
                        <li class="about"><a href="/logout">Logout</a></li>
                    </ul>
                </div>

        </div>
    </div>
    <div class="black-opaque">
        <div class = "topic">
            Topic
        </div>
        <div class = "topic-content">
            Is College Really Worth It?

        </div>
        <div class="row">
         <button href="/guest" id="send-button" class="bootn lg ghost" type="submit">Debate</button>
        </div>
        <div class = "debate-comment">
            Participate in our live stream debates
        </div>
        <div class="row">
            <button href="/viewer" id="send-button" class="bootn lg ghost" type="submit">Watch</button>
        </div>
        <div class = "watch-comment">
            Watch what's happening live

        </div>

</div>
</body>
</html>
