<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
      <div class = "video-background">
          <div class = "video-foreground">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/HuAxVfZasUk?playlist=HuAxVfZasUk&controls=0&version=3&start=148&end=306&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
      <div class = "vidtop-content">
          <center><h1>{{name}}</h1></center>
      </div>
      <div

  </body>
  </html>






      <!-- <div class = "navbar">
        <nav>
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
</ul>
        </nav>
    </div>
           <div class ="greeting">
       <h1> {{name}} </h1>
          </div>
          <div class = "sparkcontroversy">
      Spark Controversy
          </div>
          <div class ="description">
       {{name}} <br />
          </div>
          <div class = "upcomingdebate">
      Upcoming Debate
          </div>
          <div class = "topic">
      Is College Really Worth It?
          </div>
          <div class = "power">
      The power of the people is great. We can come together and we can initiate change.
      Vote below for who you want to see battle it out and debate on the reality of college
      education in America. The person with the highest number of votes will be featured on
      Wirlix's next debate.


          </div>
    <div class = "votedesc">
      It's in Your Hands <br />
  </div>
  <div class = "debaters_photo">


  </div>
  <div class = "debater_buttons">


  </div>
  <div class = "debater_stats">

  </div>


  </body>

  <!--We've got plenty for you to look forward too. <br />
      New video technology <br />
      Upcoming Debates    <br />
      Live Conversations with College Students around the Nation <br />
      Amazing videos <br />
      Mobile Apps <br />
      So stay Tuned! For now vote for <br /> -->
