<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" type= "text/css" href="stylesheets/style.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
    <script src="/routes/data.js"></script>
    <title>Wirlix</title>
</head>
<body>
    <div class = "video-background">
        <div class = "video-foreground">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HuAxVfZasUk?playlist=HuAxVfZasUk&controls=0&version=3&start=148&end=306&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div id = "nav">
        <div class = "navleft">
            <div class = "logo">
                WIRLIX
        </div>
        </div>
        <div class = "navright">
            <div class = "elements">
                <ul>
                    <li class="lit"><a href="/profile">Me</a></li>
                    <li class="lit"><a href="/lit">Lit</a></li>
                    <li class="about"><a href="/about">About</a></li>
                    <li class="about"><a href="/logout">Logout</a></li>
                </ul>
            </div>

    </div>
</div>
    <div class = "projecthappiness">
        Project Happiness

    </div>
    <!-- <div class = "animated slideInLeft">


         How do you become happier? How does the world around you become happier?
        <br />
        <br />

        See a movement in a way you've never seen before <br /> <br />

        Coming at you May 25, 2017 <br />

        Get ready to change the world.

    </div> -->

 <div class = "launching">

    Launching May 25th, 2017

</div> -->






</body>

</html>
