<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" type= "text/css" href="stylesheets/style.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
    <script src="/routes/data.js"></script>
    <title>Wirlix</title>
</head>
<body>
    <div class = "video-background">
        <div class = "video-foreground">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NtDG-Cnj-pw?playlist=NtDG-Cnj-pw&controls=0&version=3&start=394&end=510&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class = "peaceout">

        Peace Out
    </div>
    <!-- <div class = "real">
        It's been real and you're the shit {{name}}. We'll see you soon!
    </div>
     -->
     <div class="wrapperT">
         <h1 class="split"> </h1>
     </div>
     <div class = "quote">
         <i>"Coming together is a beginning; keeping together is progress; working together is success.”<br /><br />
         - Henry Ford </i>
     </div>
     <div class = "seeyou">
         It's been real. See you soon!
    </div>
</body>
</html>
