<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" type= "text/css" href="stylesheets/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

        <title>Wirlix</title>
    </head>
    <body>
        <div class = "video-background">
            <div class = "video-foreground">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cvFdFAr_7po?playlist=cvFdFAr_7po&controls=0&version=3&start=242&end=840&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div id = "nav">
            <div class = "navleft">
                <div class = "logo">
                    WIRLIX
            </div>
            </div>
            <div class = "navright">
                <div class = "elements">
                    <ul>
                        <li class="lit"><a href="/lit">Lit</a></li>
                        <li class="about"><a href="/about">About</a></li>
                        <li class="about"><a href="/logout">Logout</a></li>
                    </ul>
                </div>

        </div>
    </div>
    <div class="black-opaque">
    <div class = "nameone">
    Priyanka
    </div>

    <div class = "animated slideInLeft">
            Explore Your Whirl
    </div>
    <div class = "profilelink">
            <a href=#watch><u>EXPLORE</u></a>
    </div>
    <div id = "watch">
    <div class = "watchdebate">
        Watch

    </div>
    <div class = "debatetopic">
        Is College Worth It? @ Stanford
    </div>

    <div class = "profile-video">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/dqTTojTija8" frameborder="0" allowfullscreen></iframe>


    </div>
    <div class = "profilelink">
            <a href=#engage><u>ENGAGE</u></a>
    </div>
</div>
<div id = "engage">
    <div class = "engaging">
    ENGAGE
</div>
<div class = "featuredtitle">
    Featured: Should Comedians have Boundaries?

</div>
<div class = "featured">

    Vote for Your Favorite Youtubers and Comedians <br />
    Click the images. View the controversy.

</div>


<div class = "voting">
    <div class = "imgvoting">
        <a href="https://www.youtube.com/watch?v=J1tGSkOJw7c"><img class = "img1" src="images/casey_neistat2.jpg" alt="Casey Neistat" height="200" width="200"></img></a>
        <a href="https://www.youtube.com/watch?v=3y0a9eLmuvo"><img class = "img2" src="images/PewDiePie.jpg" alt="PewDiePie" height="200" width="200"></img></a>
        <a href="http://time.com/4028119/dear-fat-people-nicole-arbour/"><img class = "img3" src="images/nicole_arbour.jpg" alt="Nicole Arbour" height="220" width="200"></img></a>
        <a href="http://www.nbc.com/the-tonight-show/video/nikki-glaser-standup/3108706"><img class = "img4" src="images/nikki_glaser.jpg" alt="Casey Neistat" height="200" width="200"></img></a>
    </div>
</div>
<div class="votingbutton">
    <button id="send-button" class="bootn lg ghost" type="submit">Vote</button>
</div>


</div>
    <!-- <div class = "React">
        <b>REACT</b> <br />
        <br />
        Enter our 24/7 Debate Platform and Join the Live Conversation.

    </div>
    <div class="rowtwo">
        <button id="send-button" class="bootn lg ghost" type="submit">Enter Debate Room</button>
    </div> -->

<div id = "react">
<div class = "React">
    React <br /><br />
</div>
<div class = "whatthink">
    What are your Opinions? <br /><br />
    Enter our 24/7 Debate Platform and Join the Live Conversation.
</div>
<div class="row">
    <button id="send-button" class="bootn lg ghost" type="submit">Enter Debate Room</button>
</div>
</div>
</div>



    </body>
</html>
