

<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,600" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.color.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <title>Wirlix</title>
    <style>
        .pw_box {

            margin: 0 auto;
            text-align: center;
            padding-top: 80px;
            border-style: solid;
            width: 409px;
            border-color: white;
            height: 285px;
        }
        .margo{
            margin-top: 150px;
        }
    </style>
</head>
<body id="homepage" style="background-color: black">
    <div class="margo"><h1 style="color: white; margin: 0 auto; margin-bottom: 15px; width: 500px">Send E-mail to Reset Password</h1>
        <div class="pw_box">

            <form id="resetForm" action="/resetpassword" method= post >
              <input type="text" name="email" placeholder="E-Mail" class="input__field" id="email" required/>
                <button id="send-button" class="bootn ghost" type="submit">Send Email<i class="fa fa-angle-double-right"></i></button>
            </form>
            <label id="email-error" class="error errorHide" style="display: none">Please Enter a Valid E-mail Address</label>
        </div>
    </div>


<script>
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});


$('#resetForm').validate({
  rules: {
    email: "required",
  },
  submitHandler: function(form) {
    var email = $('#email').val();
    $('#email').val(email);
    console.log(email);
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    if(pattern.test(email)) {
      console.log(" true");

      form.submit();
    } else {
      $('.errorHide').show();
      console.log("false");
      setTimeout(function(){
        $('.errorHide').hide();
      }, 3000);
    }

        },
    messages: {
        email: {
                required: "Please Enter a valid E-mail Address.                  "
            },
    }

});

</script>
</body>
</html>
