<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" type= "text/css" href="stylesheets/style.css" />
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <title>Wirlix</title>
    </head>
    <body>
        <div class = "video-background">
            <div class = "video-foreground">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HuAxVfZasUk?playlist=HuAxVfZasUk&controls=0&version=3&start=148&end=306&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class = "welcome">
            Welcome to Wirlix
        </div>
        <div class = "aboutWirlix">
            Wirlix is a social media debate platform sparking controversy to institute change and bring unity to the world. We know the answer to a better world isn't straightforward but it exists. It lies within every single one of us. At Wirlix, we want to give you a voice. We believe that sparking controversy leads to a more empathetic and open-minded individual and ultimately progress. We're creating an environment where our users are defined by more than a selfie on instagram and reposted video. You are defined by your passions, dreams, beliefs and visions for the world. Question everything. Whatever you care about: animal rights, world hunger, racism, the education system, gender equality, or even weed. We aren't just showing you the world's controversies. We are exposing you to a world of possibilities where you can now take action and find creative solutions to the issues that surround you by doing what you love, speaking up and uniting with the world around you. We all live together in one world. Let's cease this trend of using technology to isolate ourselves and let’s end the hate and come together. Unite as one world. Social media has the power to enlighten a generation and that's Wirlix. Don't believe it.. Let us show you.

        </div>
        <div = "enterwirlix">
            <div class="rowAbout">
                <button id="send-button"  onclick="window.location.href='/profile'" class="boootn lg ghost">Spark Controversy</button>
            </div>



    </body>
    </html>
