<script src = "/javascripts/viewer.js"></script>
<link rel="stylesheet" href="/stylesheets/tokbox.css">

 <div id = "nav">
    <div class = "navleft">
        <div class = "logo">
            WIRLIX
    </div>
    </div>
    <div class = "navright">
        <div class = "elements">
            <ul>
                <li class="lit"><a href="/profile">Me</a></li>
                <li class="lit"><a href="/lit">Lit</a></li>
                <li class="about"><a href="/about">About</a></li>
                <li class="about"><a href="/logout">Logout</a></li>
            </ul>
        </div>

</div>
</div>
<div id="credentials" style="display:none;" data="{{credentials}}"></div>
<div id="main" class="main-container">
    <div id="banner" class="banner">
        <span id="bannerText" class="text">Waiting for Broadcast to Begin</span>
    </div>
    <div id="videoContainer" class="video-container">
        <div id="hostDivider" class="hidden"></div>
    </div>
</div>
