/* ------------------ INDEX.HBS ---------------- */

/* ------------------ Background Video ---------- */

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: 'Oswald', sans-serif;
} 

body, h1, h2, h3, h4, p, ul{
  font-family: 'Oswald', sans-serif;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  text-align: center;
}
.video-foreground,
.video-background #mute-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 115%;
  height: 115%;
  pointer-events: none;
}
.vidtop-content {
    vertical-align: center;
    text-align: center;
    color: #fff;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    letter-spacing: 0px;
    text-transform: uppercase;
    letter-spacing: 7px;
    -webkit-font-smoothing: antialiased;
    font-size: 125px;
    text-shadow: 1px 1px #000;
}

.vidtop-content center {
    padding-top: 35px;
}

.black-opaque {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; /*padding: 1rem;*/ font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { margin-top: 1rem;  }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -125%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -125%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .1rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

/* ----------------------- Text on Top of Video ---------- */


body {
    background-color: white;
}

#homepage {
    justify-content: center;
    align-content: center;
    text-align: center;
    /*background-color: white;*/
    height: 100%;
    position: relative;
    background-color: #333333;
    transition: background-color 1s;
}

.text-home {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    letter-spacing: .4px;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    text-align: center;
    vertical-align: center;
    padding-bottom: 2rem;
}
.text-home-red {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-family: "Source Code Pro";
    font-size: 18px;
    line-height: 1.75em;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    z-index: 5;
    /* margin-bottom: 280px; */
    margin-bottom:250px;
}

.text-home-red i{
  font-style: normal;
}
button, .input, select, textarea {
    line-height: inherit;
    background: none;
    border: none;
    border-bottom: solid 1px white;
    width: 200px;
    font-weight: 300;

    padding: 10px;
    margin: 30px;
}

.input, button {
    margin: 15px;
}

.motto {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: 'Oswald', sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    position: relative;
    z-index: 5;
}
.motto-mobile {
    display: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: 'Oswald', sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    position: relative;
    z-index: 5;
}


#main-title{
  position: relative;
  z-index: 5;
  margin-top: 100px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

#main-title-mobile{
  display: none;
}

.weAreOne {
    font-size: 100px;
    font-size: 10rem;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-transition: all .75s ease-in-out;
    -webkit-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
    z-index: 1;
    background: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: transparent;
}

.weAreOne:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

#icon-align:hover .weAreOne {
    color: #fff;
    background: #202020;
}

.motto2 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;

}
#icon-align {
    text-align: center;
    padding: 35px 0;
    margin: 0 auto;
    background: #fff;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.05) 97%, rgba(0, 0, 0, 0.1) 100%), #fff;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.05) 97%, rgba(0, 0, 0, 0.1) 100%), #fff;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.05) 97%, rgba(0, 0, 0, 0.1) 100%), #fff;
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.05) 97%, rgba(0, 0, 0, 0.1) 100%), #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.05) 97%, rgba(0, 0, 0, 0.1) 100%), #fff;
    position: relative;
}

/*div#icon-align:hover {
    background: rgba(0, 0, 0, 0.9);
    -moz-transition: all .75s ease-in-out;
    -webkit-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}

div#icon-align:hover .icons div div {
    background: transparent;
}

div#icon-align:hover i, div#icon-align:hover .icons h3, div#icon-align:hover span {
    color: transparent;
}

div#icon-align:hover i {
    border: 2px solid transparent;
}*/

.icons div div {
    padding: 0;
    background-color: transparent;
    color: #333;
    display: inline-block;
}

#icon-align, .icons div div {
    text-align: center;
}

.icons h3 {
    font-size: 20px;
    font-size: 2rem;
    margin-top: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.icons span{
  font-family: "Source Code Pro", sans-serif;
}

#icon-align i {
    font-size: 64px;
    font-size: 6.4rem;
    display: inline-block;
    margin-bottom: 5px;
    padding: 20px;
    border: 2px solid #C30F15;
    border-radius: 100%;
    color: #C30F15;
}

#icon-align i:hover {
    border: 2px solid #C30F15;
    border-radius: 100%;
    color: #C30F15;
    opacity: .2;
}

#icon-align span {
    display: block;
}

/* */

.icon-overlay{
  display: none;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

}

.icon-overlay.bg{
  background-color: rgba(0,0,0,.6);
}

.icon-modal{
  vertical-align: middle;
  display: none;
  overflow: visible;
 
  
  border-radius: 3px;
  
  width: 600px;
  height: 600px;
  margin: 0 auto;
   position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
  padding: 10px;
  background-color: rgba(0,0,0,1);
}
.icon-message{
  display: inline-block;
  position: absolute;
  left: 0;
  border-radius: 3px;
  right: 0;
  max-width: 410px;
  margin: 0 auto;
  top: 120px;
  z-index: 31;
  padding: 10px;
  background-color: rgba(0,0,0,1);
}

.icon-message .quote{
  color: #ffffff;
  font-size: 1em;
  font-family: "Source Code Pro";
  font-weight: 200;
  text-align: center;
  font-style: italic;
}

.icon-modal .icon-message .quotet {
   color: #ffffff;
  font-size: 1.5em;
  font-family: "Source Code Pro";
  font-weight: 200;
  text-align: center;
  
}


.icon-message .coexist{
  font-family: "Raleway";
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 20px;
}

.icon-message .coexist .C{
  color: #F15A5A;
}
.icon-message .coexist .O{
  color: #2D95BF;
}
.icon-message .coexist .E{
  color: #C76A15;
}
.icon-message .coexist .X{
  color: #4EBA6F;
}
.icon-message .coexist .I{
  color: #C7D415;
}
.icon-message .coexist .S{
  color: #F13124;
}
.icon-message .coexist .T{
  color: #955BA5;
}

.fa i:hover{
  background-color: black;
}

.close-button{
  padding: 0;
}

.close-button button.btn.btn-default{
  color: #262626 !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  font-size: 2em;
  padding: 5px;
  line-height: .5;
  background-color: #f5f5f5;
  border-left: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  opacity: 1;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 10px;
  width: 36px;
  height: 40px;
}

.close-button button.btn.btn-default:hover{
  color: #262626;
}

.close-button button.btn.btn-default:focus{
  outline: none;
}

/*#div-1 {
    float:left;
}
#div-2 {
    display: inline;
}
#div-3 {
    float: right;
}*/

#signupForm {
    padding-top: 10rem;
    padding-bottom: 10rem;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-size: 18px;
    background: -webkit-linear-gradient(rgba(196, 23, 23, 1), rgba(196, 23, 23, 1));
    background: -moz-linear-gradient(rgba(196, 23, 23, 1), rgba(196, 23, 23, 1));
    background: -o-linear-gradient(rgba(196, 23, 23, 1), rgba(196, 23, 23, 1));
    background: -ms-linear-gradient(rgba(196, 23, 23, 1), rgba(196, 23, 23, 1));
    background: linear-gradient(rgba(196, 23, 23, 1), rgba(196, 23, 23, 1));
    background-size: cover;
}

form {
    color: white;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-size: 18px;
    font-style: bold;
}
input:focus {
    outline:none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.signup {
    padding: 15px 0;
    margin-top: 50px;
    border-bottom: 1px solid #e8e8e8;
    background: #f3f3f3;
}
.signup-top  {
  line-height: inherit;
    background: none;
    border: none;
    /*border-bottom: solid 1px white;*/
    
    font-weight: 300;
    margin-top: 18px;
 

}

.signup-top a {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-decoration: underline;
  line-height: inherit;
    background: none;
    border: none;
    /*border-bottom: solid 1px white;*/
    
    font-weight: 300;
    margin-top: 18px;
}
.signup-top a:hover {
  color: red;
  text-decoration: underline;
}
.signup p{
  font-size: 1.3em;
  margin: 0;
   -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0px;
    text-transform: none;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding: 1rem;
    position: relative;
    z-index: 5;
}

.signup a {
    color: #C30F15 !important;
    text-decoration: underline;
    display: inline;
    padding: 0;
}

.signup a:hover {
    text-decoration: none;
}

/* -------------------- Input Field ---------------- */

.container {
    text-align: center;
    color: white;
}

input {
    background-color: transparent;
    border: none;
    padding: 10px;

}

.input_field {


}
.input__label-content {
    font color: white;
    font-family: "Kameron",Georgia,serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-family: "Source Code Pro";
    font-size: 18px;
    color: white;

}



.button {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    margin: 5em auto;
    padding: 10px 0;
    width: 75px;
    height: 50px;
    background: white;
    border: 1px solid white;
    overflow: hidden;
    transition: all 0.5s;
}

.button:hover,
.button:active {
    text-decoration: none;
    color: black;
    border-color: white;
    background: white;
}

.button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s;
}



/*hover buttons end*/


/*button start*/


/*a:visited {
    color: silver;
    background-color: transparent;
    text-decoration: none;
}*/

a:hover {
    color: #ffcc00;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*.row {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
}*/
.rowAbout {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    border: 1px white;
    height: 65px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    text-transform: uppercase;
    font color: white;
    color: white;

}

.error {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: red;
}

.homenav #send-button {
    margin-top: 0;
}

.bootn {
    display: inline-block;
    padding: 7px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    /*height: 65px;*/
}
.boootn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
    height: 65px;
}

.bootn i {
    position: absolute;
    top: 9px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    right: -20px;
    color: #fff;
}

.bootn:hover i {
    color: #333;
    right: 15px;
}

.lg {
    width: 35%;
}

.md {
    width: 15%;
}

.ghost {
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .2s ease;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

.ghost:hover {
    background-color: white;
    color: black;
    transition: .2s ease;
    text-decoration: none;
    /*font-family: "Nunito", sans-serif;
    font-size: 24px;*/
}

/*@media (max-width: 480px) {
    .md {
        width: 50%;
    }
    .lg {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .video-foreground {
        display: none;
    }
    .vidtop-content {
        margin-top: 50px;
        font-size: 75px;
    }
    .motto {
        font-size: 20px;
    }
    .text-home {
        font-size: 14px;
        padding-bottom: 6px;
    }
    body {
        padding: 6px;
    }
    form {
        text-align: center;
        font-size: 15px;

    }
    .container {
        text-align: center;
        position: relative;
        font-size: 15px;
    }


    iframe {
        display: none;
    }
    #signupForm {
        padding-top: 50px;

    }
    .motto2 {
        font-size: 20px;
    }
    .container {
        display: inline text;
    }
    button, .input, select, textarea {
        line-height: inherit;
        background: none;
        border: none;
        border-bottom: solid 2px white;
        width: 200px;
        margin: 7px;
        padding: 2px;
    }*/
.welcome {
    text-align: center;
    color: #fff;
    font-size: 75px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    /*line-height: 1.35em;*/
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 75px;
}
.aboutWirlix {
    text-align: center;
    color: 	#fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.8em;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    opacity: .5;

}

#nav {
    height: 75px;
    background-color: black;
    width: 100%;
    display: flex;
}
 .logo {
text-align: center;
color: #fff;
-ms-word-wrap: normal;
word-wrap: normal;
font-family: "Raleway",Arial,sans-serif;
line-height: 1.35em;
letter-spacing: 0px;
text-transform: none;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 200;
font-style: lighter;
-webkit-font-smoothing: antialiased;
padding-top: 1rem;
font-size: 50px;
float: left;
padding-bottom: 1rem;
padding-left: 1rem;

}
.navleft {
    float: left;
    width: 50%;
}
.navright {
    float: right;
    width: 50%;
    text-align: right;
}


.elements {
    float: right;
    height: 100%;
    padding-right: 30px;
    padding-top: 20px;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Georgia", Helvetica, sans-serif;

    /*line-height: 1.35em;*/
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    margin: 10px;
}
.letterfromfounder {
    width: 100%;
    text-align: center;
    vertical-align: center;
    height: 20%;
    font: 200 100px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

}

.letter {
    /*height: 350px;*/
    width: 100%;
    text-align: center;

}
.letterwords {
    height: 350px;
    width: 100%;
    padding: 14px;
    padding-left:120px;
    padding-right: 120px;
    font-size: 15px;
    color: #fff;
    line-height: 1.7;
    background-color: black;
    opacity: .5;



}
.sincerely {
    width: 100%;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    color: #fff;
    padding-right: 200px;
    /*background-color: black;
    opacity: .5;*/

}
#weout {
    display:flex;
    width: 100%;
    height: 100px;
}
.right {
    float: right;
    width: 50%;
}
.left {
    float: left;
    width: 50%;
}
.signature {
    text-align: right;
    padding-right: 100px;
  color: #fff;
  font: 200 100px/0.8 'Great Vibes', Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 15px;
  float: right;

}
.wtf {
    float: left;
    padding-left: 100px;
    font-size: 15px;
    font-style: bold;
}
#breakingitdown {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;

}
#onetofour {
    height: 650px;
    vertical-align: middle;
    text-align: center;
    background-color: black;
    opacity: 0.5;
}
.confront {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;
}
.debate {
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.8;

}

#projects {
    padding-top: 0px;
    height: 625px;
    background-color: black;
    opacity: 0.5;
}
#projects-step {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;

}

.p-titles {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;
}
.descriptions {
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.8;
    text-align: center;

}

.step3 {
    text-align: center;
}
#wonderwirlixs {
    padding-top: 0px;
    height: 625px;
    background-color: black;
    opacity: 0.5;
}
#step-projects {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;

}
.unite {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;

}
.wonder {
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.8;
    text-align: center;

}
#sparkcontroversy {
    padding-top: 20px;
    height: 625px;
    background-color: black;
    opacity: 0.5;

}
#finalstep {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 75px;
    padding-bottom: 4rem;

}
.spark {
    text-align: center;
    color: #fff;
    font-size: 35px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 0px;
    padding-bottom: 4rem;

}
.socialmedia {
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.8;
    text-align: center;

}

/* Logout Page */

.peaceout {
    text-align: center;
    vertical-align: center;
    color: #fff;
    font-size: 75px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-top: 150px;
    padding-bottom: 4rem;

}

.real {
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
    font-size: 17px;
    font-family: "Raleway";
    line-height: 1.8;
    text-align: center;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html, body, .wrap {
  height: 100%;
}

body {
  background: black;
  overflow: hidden;
  color: white;
  font-family: Open sans;
}

.wrapperT {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  position: relative;
  perspective: 500px;
  top: 50%;
  padding: 0 20px;
  transform: translateY(-50%);
  font-weight: 300;
}
h1 span {
  opacity: 0;
}*/

.quote {
    text-align: center;
    font-size: 20px;
    font-family: "Raleway",Arial,sans-serif;
    color: #fff;
}
.homenav {
    background: transparent;
    padding: 15px 0;
}

.homenav .container{
  position: relative;
  z-index: 3;
}

#homepage .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#homepage .top-content{
  position: relative;
  z-index: 4;
}

.seeyou {
    text-align: center;
    color: #fff;
    font-size: 30px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    /*line-height: 1.35em;*/
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 100px;
}
.nameone {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    color: #fff;
    padding-top: 175px;


}


/*.container {
  max-width: 400px;
  margin: 0 auto;
}*/

/*.signature {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-bottom: 55.30973%;
}
.signature svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

/*font-family: 'Monoton', cursive;*/

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  color: #fff;
  font-size: 30px;
  text-align: center;
  -ms-word-wrap: normal;
  word-wrap: normal;
  font-family: "Raleway",Arial,sans-serif;
  line-height: 1.35em;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 200;
  font-style: lighter;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 2rem;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  padding-top: 25px;

}


.projecthappiness {
text-align: center;
color: #fff;
font-size: 35px;
-ms-word-wrap: normal;
word-wrap: normal;
font-family: "Raleway",Arial,sans-serif;
line-height: 1.35em;
letter-spacing: 0px;
text-transform: none;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 200;
font-style: lighter;
-webkit-font-smoothing: antialiased;
padding-bottom: 2rem;
padding-top: 50px;
}

.profile-video {
    text-align: center;
    background-color: black;

}
.React {
    text-align: center;
    color: #fff;
    font-size: 25px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding: 5px;


}

.rowtwo {
    text-align: center;
    padding-bottom: 50px;
}

.launching {
    text-align: center;
    color: #fff;
    font-size: 30px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 150px;
    }
.profilelink {
    text-align: center;
    height: 150px;
    padding-top: 10px;

}
#profilepage1 {
    height: 660px;

}
#profilepage2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#watch {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0px;
    background-color: black;
    overflow: auto;
}
.profilerow1 {
    float: right;
    width: 50%;
    text-align: center;
    align-items: center;
    padding: 0px;
    border: 2px solid white;
    height: 100%;
}
.videoProfile {
    height: 100%;
    width: 100%;
}
.profilerow2 {
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
    padding: 0px;
    border: 2px solid white;

    /*align-items: center;
    justify-content: center;*/
}
.pr1c {

    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;



    /*align-items: center;
    justify-content: center;*/
}
.pr2c {
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;


    /*align-items: center;
    justify-content: center;*/
}
.opinions {
    padding-top: 25px;
}
.debatejoin {
    text-align: center;
    color: #fff;
    font-size: 16px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    letter-spacing: 3px;
    font-weight: 100;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;

}
.profilerow1:hover {
    color: white;
    text-align: center;
    background-color: white;
    fill: solid white;

}

.watchdebate {
text-align: center;
color: #fff;
font-size: 40px;
-ms-word-wrap: normal;
word-wrap: normal;
font-family: "Raleway",Arial,sans-serif;
line-height: 1.35em;
letter-spacing: 0px;
text-transform: none;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 200;
font-style: lighter;
-webkit-font-smoothing: antialiased;
padding-bottom: 2rem;
padding-top: 100px;
}
.debatetopic {
    text-align: center;
    color: #fff;
    font-size: 30px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
}
#engage {
    border: 2px solid white;
    background-color: black;
    flex: 1;
    overflow: auto;
}
.engaging {
    text-align: center;
    color: #fff;
    font-size: 40px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 50px;

}
.featuredtitle {
    text-align: center;
    color: #fff;
    font-size: 30px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 20px;
}
.featured {
    text-align: center;
    color: #fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    text-transform: none;
    line-height: 1em;
    letter-spacing: 4px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-left:5rem;
    padding-left:5rem;

}
.voting {
    display: flex;
    width: 100%;
    align-items: center;

}
.imgvoting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

}
img {
    margin: 20px;
}
.votingbutton {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}
.whatthink {
    text-align: center;
    color: #fff;
    font-size: 25px;
    -ms-word-wrap: normal;
    text-transform: uppercase;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    line-height: 1em;
    letter-spacing: 4px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-left:5rem;
    padding-left:5rem;

}
#react {
    height: 650px;
}
html,
body {
    box-sizing: border-box;
}

.main-container {
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
}

.main-container.player {
    min-height: 535px;
}

.video-wrap {
    height: 100%;
    display: flex;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.video-container.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.video-container:empty {
    width: 0;
}

.fp-player {
    display: flex;
    justify-content: center;
    align-content: center;
}

.fp-ratio,
.fp-ui,
.fp-help,
.fp-subtitle.audio-control,
.fp-context-menu {
    display: none;
}

.video-container .OT_publisher,
.video-container .OT_subscriber {
    position: relative;
    margin: 0 5px;
}

.video-container.wrap .OT_publisher,
.video-container.wrap .OT_subscriber {
    height: 49.5% !important;
    width: 48.5% !important;
}


.OT_publisher .OT_name.OT_edge-bar-item.OT_mode-off,
.OT_subscriber .OT_name.OT_edge-bar-item.OT_mode-off {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 20px;
    margin: 0 auto;
    opacity: 1;
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 125px;
    border-radius: 20px;
}

.OT_widget-container .OT_video-element {
    border-radius: 8px;
}

.publisher-controls-container {
    height: 70px;
    width: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 20px;
    left: 20px;
    padding: 10px 0 !important;
    border-radius: 20px;
    box-sizing: border-box;
}

.publisher-controls-container .control {
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.publisher-controls-container .video-control {
    background-image: url('../images/video-icon.png');
}

.publisher-controls-container .video-control.disabled {
    background-image: url('../images/no-video-icon.png');
}

.publisher-controls-container .audio-control {
    background-image: url('../images/mic.png');
}

.publisher-controls-container .audio-control.disabled {
    background-image: url('../images/muted-mic.png');
}

.banner {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}


.banner .text {
    color: black;
    font-size: 34px;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 1px;
}

.banner .text.red {
    color: #E04E4E;
}

.broadcast-controls-container {
    margin: 15px 0 10px 0;
    text-align: center;
    color: #696868;
    font-family: Arial, Helvetica, sans-serif;
}

.controls-container .url {
    width: 90%;
    color: #E04E4E;
    font-size: 16px;
    display: inline-block;
    border: 1px solid grey;
    padding: 3px 5px;
    border-radius: 3px;
}

.url-container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.copy-link {
    position: relative;
    font-family: 'Poiret One', cursive;
    color: #59c9e3;
    width: 200px;
    margin: 10px auto;
    cursor: pointer;
}

.copy-link::before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    left: 15px;
    background-image: url('../images/get-link.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.tooltip {
    position: absolute;
}

.tooltip.copy {
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -kthtml-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.tooltip.copy::before {
    content: '\2714';
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #59c9e3;
    margin-right: 10px;
    border: 1px solid #59c9e3;
    border-radius: 50%;
}

.url-container .tooltip.copy {
    position: absolute;
    color: #59c9e3;
    background-color: #fff;
    border-radius: 4px;
    font-family: 'Poiret One', cursive;
    width: 250px;
    height: 40px;
    top: -45px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-container .tooltip.copy .triangle-down {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    left: 0;
    bottom: -16px;
}

.btn-broadcast {
    font-family: 'Poiret One', cursive;
    background-color: #0099cc;
    box-shadow: 0 0 0 1px #0099cc;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -kthtml-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.btn-broadcast:hover {
    text-decoration: none;
    background-color: #007ba3;
    box-shadow: 0 0 0 2px #0099cc
}

.btn-broadcast.active {
    background-color: #E04E4E;
    box-shadow: 0 0 0 1px #E04E4E;
}

.btn-broadcast.active:hover {
    background-color: #692B2B;
    box-shadow: 0 0 0 2px #E04E4E
}

.btn-broadcast:disabled {
    background-color: darkgrey;
    box-shadow: 0 0 0 2px darkgrey;
    cursor: default;
}

.btn-copy {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 26px;
    width: 26px;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid grey;
    border-radius: 3px;
}

.btn-copy img {
    height: 85%;
    width: 85%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
    z-index: -1;
}

.no-show {
    height: 0;
    width: 0;
}
.topic {
    text-align: center;
    color: #fff;
    font-size: 60px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 50px;

}
.topic-content {
    text-align: center;
    color: #fff;
    font-size: 30px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 10px;

}
.debate-comment {
    text-align: center;
    color: #fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 2rem;
    padding-top: 10px;

}
.watch-comment {
    text-align: center;
    color: #fff;
    font-size: 20px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Raleway",Arial,sans-serif;
    line-height: 1.35em;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 200;
    font-style: lighter;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 5rem;
    padding-top: 10px;
    height: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.vidtop-content {
    padding-top: 40rem;

}
/*#signupForm {
    padding-top: 45rem;
    padding-bottom: 100rem;
}*/

.black-opaque {
    background-color: black;
}



input {
    background-color: transparent;
    border: none;
    padding: 45px;

}

.input_field {


}
.input__label-content {
    font color: white;
    font-family: "Kameron",Georgia,serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-family: "Source Code Pro";
    font-size: 18px;
    color: white;

}
.peaceout {
    padding-top: 400px;
}
.seeyou{
text-align: center;
color: #fff;
font-size: 30px;
-ms-word-wrap: normal;
word-wrap: normal;
font-family: "Raleway",Arial,sans-serif;
/*line-height: 1.35em;*/
letter-spacing: 0px;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 200;
font-style: lighter;
-webkit-font-smoothing: antialiased;
padding-bottom: 2rem;
padding-top: 100px;
}
.welcome {
    padding-top: 80spx;
    font-size: 60px;
}

.aboutWirlix {
font-size: 35px;
padding-top: 50px;

}
.projecthappiness {
    padding-top: 400px;
}
.letter {
    padding-top: 300px;
    line-height: 1.8px;
}
.letterwords {
    font-size: 20px;
    height: 100%;
    padding-bottom: 50px;
}
.sincerely {
    padding-top: 100px;
}
#weout {
    padding-bottom: 600px;
}
#onetofour {
    padding-top: 600px;
    padding-bottom: 700px;
}
.step2 {
    padding-top: 50px;
}
#projects {
    padding-top: 600px;
    padding-bottom: 700px;
}
.step3 {
    padding-top: 50px;
}
#wonderwirlixs {
    padding-top: 400px;
    padding-bottom: 900px;

}
.step4 {
    padding-top: 50px;
}
#sparkcontroversy {
    padding-top:500px;
    padding-bottom: 1350px;
}
#profilepage1 {
    height: 2000px;
}
.nameone {
    padding-top: 500px;
}
.opinions {
    padding-top: 200px;
}
/*.row {
    padding-top: 100px;
}*/
.debatejoin {
    padding-top: 75px;
}
.imgvoting {
    padding-top: 100px;
}



}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.vidtop-content {
    padding-top: 30rem;

}
#signupForm {
    padding-top: 20rem;
    padding-bottom: 80rem;
}

.black-opaque {
    background-color: black;
}



input {
    background-color: transparent;
    border: none;
    padding: 45px;

}

.input_field {


}
.input__label-content {
    font color: white;
    font-family: "Kameron",Georgia,serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    font-family: "Source Code Pro";
    font-size: 18px;
    color: white;

}
.peaceout {
    padding-top: 250px;

}
.welcome {
    padding-top: 200px;
    font-size: 50px;
    padding-bottom: 30px;
}

.aboutWirlix {
font-size: 25px;

}

.projecthappiness {
    padding-top: 200px;
}
#profilepage1 {
    height: 2000px;
}


}
.flexbox {
    display: flex;
    width: 100%;
}

/*.parttwo {
    float: left;
    padding-top: 20px;
    width: 50%;
    padding-left: 100px;
}
.partthree {
    float: left;
    width: 50%;
    padding-left: 250px;
}*/

/* ================= UPLOAD A PHOTO =================== */

.upload-container{
  background-color: #C41715;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.upload-container h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 3em;
}

.upload-container .img-container{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
  position: relative;
}

.upload-container #profile-img{
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 100%;
  position: absolute;
	min-width: 100%;
  cursor: move;
}

.upload-group{
  position: absolute;
  bottom: -5px;
  width: 100%;

}

.upload-container .upload-group .inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.change{
  display: none;
}

.change input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.change label{
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
  border-radius: 3px;
  background-color: #ffffff;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
  border: 1px solid white;
  width: 300px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
  transition: all .2s;
}

.upload-container .upload-group .inputfile + label{
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
  border-radius: 3px;
  background-color: rgba(0,0,0,.5);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
  border: 1px solid white;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 40px 20px;
  font-size: 1.5em;
  transition: all .2s;
}

.upload-container .upload-group .inputfile + label:hover{
  background-color: #ffffff;
  color: #000000;
}

.continue{
  margin-top: 20px;
}

.continue button{
    width: auto;
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px;
  font-family: "Raleway";
  font-weight: 200;
  border-radius: 5px;
  border: 1px solid #ffffff;
  transition: all .2s;
  text-decoration: none;
}

.continue button:hover{
  background-color: #ffffff;
  color: #333333;
  font-size: 2.25em;
  padding: 20px 13px;
}

.modal-continue{
  position: absolute;
  top: 40%;
  margin-left auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
  display: none;
}

.modal-continue p{
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 20px;
  font-family: "Source Code Pro";
}

.modal-continue .button-group a{
  text-align: center;
  padding: 10px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Source Code Pro";
  border: 2px solid #262626;
  border-radius: 3px;
  background-color: transparent;
  color: #262626;
}


.modal-continue .button-group a.cancel{

}

.modal-continue .button-group a.cancel:hover{
  color: #333333;
}

.modal-continue .button-group a.cont{


}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.homenav #main-logo{
  display: none;
}

.text-home-red.mobile{
  display: none;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  margin-top: 20px;
}
.icon-modal{

  width: 500px;
  height: 600px;
  margin: 0 auto;
   position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
  padding: 10px;
  background-color: rgba(0,0,0,1);
}
.icon-message{
  display: inline-block;
  position: absolute;
  left: 0;
  border-radius: 3px;
  right: 0;
  max-width: 410px;
  margin: 0 auto;
  top: 120px;
  z-index: 31;
  padding: 10px;
  background-color: rgba(0,0,0,1);
}

@-webkit-keyframes arrows {
	0% {
		bottom: 8%; }
	10% {
		bottom: 8%; }
	20% {
		bottom: 8%; }
	30% {
		bottom: 8%; }
	40% {
		bottom: 8%; }
	50% {
		bottom: 5%; }
	60% {
		bottom: 8%; }
	70% {
		bottom: 8%; }
	80% {
		bottom: 8%; }
	90% {
		bottom: 8%; }
	100% {
		bottom: 8%; }
}
@-webkit-keyframes arrows {
	0% {
		bottom: 8%; }
	10% {
		bottom: 8%; }
	20% {
		bottom: 8%; }
	30% {
		bottom: 8%; }
	40% {
		bottom: 8%; }
	50% {
		bottom: 5%; }
	60% {
		bottom: 8%; }
	70% {
		bottom: 8%; }
	80% {
		bottom: 8%; }
	90% {
		bottom: 8%; }
	100% {
		bottom: 8%; }
}


.arrow-container{
	text-align: center;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 50px;
	width: 100%;
	-webkit-animation: arrows 2.8s infinite;
	animation: arrows 2.8s infinite;
  opacity: 0;
}

.arrow-container + p{
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 1.35em;
	color: #ffffff;
	width: 100%;
	text-align: center;

}

.arrow-container + p a{
	color: #ffffff;
	text-decoration: none;
}

.arrow-container .arrow:before{
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 50px;
	left: -1px;
	position: relative;
	border-color: rgba(255, 255, 255, 0.9);
	vertical-align: top;
	width: 50px;
	transform: rotate(135deg);
}

.arrow-container .arrow{
	position: relative;
}

.signup.mobile{
  display: none;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal p {
  font-family: "Raleway";
  margin: 20px;
  text-align: center;
}
.modal-header{
  padding: 10px;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-family: "Raleway";
}


@media screen and (max-width:991px) {

}

@media screen and (max-width:767px){
  .signup{
    display: none;
  }
  .signup-top{
    display: none;
  }
  .signup.mobile{
    margin: 0 auto;
    display: block;
    border: none;
  }
  .homenav{
    height: 100vh;
    position: relative;
    background-image:url('../images/wirlix_collage.jpg');
  }
  #icon-align .weAreOne {
    display: none;
  }
  .signup{
    background-color: transparent;
    color: #ffffff;
    margin-top: 0;
  }
  .signup p{
    font-weight: 200;
    font-size: 1.25em;
  }
  .signup a{
    color: #ffffff !important;
  }
  #main-title{
    display: none;
  }
  #main-title-mobile{
    display: block;
    font-size: 90px;
    position: relative;
    z-index: 5;
    margin-top: 60px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
  }
  .motto{
    display: none;
  }
   .motto-mobile{
    display: block;
  }
  #homepage{
    background-color: rgb(196, 23, 23);
  }
  .text-home-red.main{
    display: none;
  }
  .video-background{
    display: none;
    background-color: rgb(196, 23, 23);
  }
  .homenav #main-logo{
    display: block;
    width: 40%;
    margin: 0 auto;
  }
  .text-home-red{
    margin-bottom: 0;
  }
  .text-home-red.mobile{
    display: block;
    margin-bottom: 40px;
  }
  .upload-group{
    padding: 0;
  }
  .upload-container .img-container{
    width: 250px;
    height: 250px;
  }
  .upload-container .upload-group .inputfile + label{
    font-size: 1em;
  }
    .input {
        margin: 0 0 25px;
        width: 100%;
        display: block;
        text-align: left;
        padding: 0;
        line-height: 1;
    }

    input {
        width: 100%;
        padding: 10px;
    }

    #icon-align #div-1, #icon-align #div-2 {
        margin-bottom: 50px;
    }

    .vidtop-content {
        font-size: 40px;
    }

    .motto {
        font-size: 28px;
    }

    .text-home-red {
        font-size: 16px;
    }

    #signupForm button {
        margin: 0;
    }

    .weAreOne {
        font-size: 50px;
        font-size: 5rem;
    }

}

@media screen and (max-width:540px){
    .video-foreground {
        width: 500%;
        left: -100%;
    }
}

@media screen and (max-width:768px){
  .arrow-container{
    opacity: 1;
  }
}

@media screen and (min-width:768px){
    #signupForm button {
        margin-top: 50px;
    }

}

@media screen and (min-width:768px) and (max-width:991px){
    button, .input, select, textarea {
        width: 160px;
    }
}

@media (min-width: 1200px){

}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.upload-container .img-container{
  width: 250px;
  height: 250px;
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.vidtop-content {
    padding-top: 200px;
}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
